/*importing front from google*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*custom properties*/
:root{
    --font-val: 'Overpass', sans-serif;
    --font-sz: 16px;
    --bg-img-url: url(images/kellly-image.jpg);
    --bg-color: hsl(207, 19%, 9%);
    --text-color: rgb(233, 199, 199);
    --card-para-text: rgba(247, 240, 240, 0.75);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--font-val);
    line-height: 1.6rem
}


body{
    display: grid;
    place-items: center;
    height: 100vh;
    background: var(--bg-color);
    overflow: hidden;
}

.container{
    max-width: 30ch;
    background: url(images/kellly-image.jpg) center/cover;
    padding: 10rem 0 0;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.container:hover,
.container:focus-within{
    transform: scale(1.05)
}

.card-title{
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
    position: relative;
    max-width: max-content;
}

.card-paragraph{
    margin-bottom: 1.6rem;
    color: var(--card-para-text);
}
.card-content{
    --padding: 1.5rem;
    color: var(--text-color);
    padding: var(--padding);
    background: linear-gradient(
        hsla(0, 0%, 0%, 0),
        hsla(20, 0%, 0%, 0.5) 20%,
        hsla(0, 0%, 0%, 1)
    );

    
}



.card-title::after{
    content: "";
    position: absolute;
    height: 4px;
    background: rgb(148, 196, 226);
    width: calc(100% + var(--padding));
    left: calc(var(--padding) * -1);
    bottom: -3px;
    transform-origin: left;
    transition: transform 500ms ease;

}

.container:hover .card-title::after,
.container:focus-within .card-title::after{
    transform: scaleX(1);
}

@media(hover: hover){
    .card-content{
        transform: translateY(68%);
        transition: transform 500ms ease;
    }

    .card-content > *:not(.card-title){ 
        opacity: 0;
        transition: opacity 500ms linear;
    }
    
    .container:hover .card-content,
    .container:focus-within .card-content{
        transform: translateY(0); 
        transition-delay: 500ms;
    }
    
    .container:focus-within .card-content{
        transition-duration: 0ms;
    }
    .container:hover .card-content > *:not(.card-title),
    .container:focus-within .card-content > *:not(.card-title){
        opacity: 1;
        transition-delay: 1000ms;
    }

    .card-title::after{
        transform: scaleX(0);
    }
    
}

.btn{
    text-decoration: none;
    color: var(--bg-color);
    background:rgb(148, 196, 226);
    padding: .5em 1em;
    border-radius: .09rem
}    

.btn:hover,
.btn:focus{
    background: white;
    color: black;
}

@media (prefers-reduced-motion: reduce){
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.1ms !important;
        transition-delay: 0ms !important;
        scroll-behavior: auto !important;
    }
}
